/vendor
/tests/Coverage

.DS_Store
Thumbs.db
.discovery
.idea
.php_cs.cache

clover.xml
composer.lock
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
studio.json

*.sublime-project
*.sublime-workspace
*.pid
*.log
